* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Main Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Netural */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  ---Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* ---------- */
  --mainShadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
}
body {
  font-size: 15px;
  font-family: Poppins-400;
  color: var(--Very-Dark-Blue);
}
@font-face {
  font-family: Poppins-200;
  font-weight: 200;
  src: url(assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: Poppins-400;
  font-weight: 400;

  src: url(assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-600;
  font-weight: 600;

  src: url(assets/font/Poppins-SemiBold.ttf);
}

/* UI */
.card {
  background-color: #fff;
  max-width: 300px;
  height: 200px;
  box-shadow: var(--mainShadow);
  border-radius: 10px;
  margin: 1.3rem 0.8rem;
  position: relative;
  padding: 1rem;
  color: var(--Very-Dark-Blue);
}
.card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #444; /* Default */
}

.card h3 {
  font-family: Poppins-600;
  text-transform: capitalize;
}
.card p {
  font-family: Poppins-200;
  color: var(---Grayish-Blue);
  margin: 0.5rem 0;
}
.card img {
  display: block;
  margin: 2rem 0 auto;
  margin-left: auto;
}
/* new */
.container {
  /* Default 1.5rem */
  padding: 0 1.5rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1370px;
  }
}

/* start header */
.my-page header {
  text-align: center;
  word-break: break-all;
  margin: 3rem auto;
  max-width: 400px;
}
.my-page header h1:first-child {
  font-family: Poppins-200;
  color: var(---Grayish-Blue);
}
.my-page header h1:nth-child(2) {
  margin: 0.5rem 0;
}
.my-page header p {
  font-family: Poppins-400;
  color: var(---Grayish-Blue);
}
/* end header */
/* start content */
.my-page .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .my-page .content {
    flex-direction: column;
  }
}

/* cards border color */
.my-page .content .card:first-child::before {
  background-color: var(--Cyan);
}

.my-page .content .center-cards .card:first-child::before {
  background-color: var(--Red);
}

.my-page .content .center-cards .card:last-child::before {
  background-color: var(--Orange);
}

.my-page .content .card:last-child:before {
  background-color: var(--Blue);
}

/* end content */
